[Unit]
Description=Clipboard manager to use with rofi - Image support and blacklist
Documentation=https://github.com/erebe/greenclip
After=display-manager.service

[Service]
Type=simple
Environment=DISPLAY=:0
Environment=XAUTHORITY=%h/.Xauthority
ExecStart=/home/connordeckers/.local/bin/greenclip daemon
Restart=always

[Install]
WantedBy=default.target
