encryption = "age"
[age]
	identity = "~/.homeencrypt.key.txt"
	recipient = "age1mr5s9cvf3qlmsecaf0ly8z9r7tjm3qzlwavulg6z89adhmkxxvrsevsykn"

[data]
	github_username = "connordeckers"
	{{if eq .chezmoi.hostname "SHS-B9BXKR3"}}
	email = "connor.deckers@utas.edu.au"
	target = "work"
	{{else}}
	email = "dronnoc@gmail.com"
	target = "personal"
	{{end}}
