[user]
	name = Connor Deckers
	email = {{ .email | quote }}
	signingkey = {{ .email | quote }}
[pull]
	rebase = false
[init]
	defaultBranch = main
[alias]
	unstage = restore --staged
	revert-file = "!f() { git checkout HEAD -- $1; }; f"
	changelog = "!BRANCH=$(git rev-parse --abbrev-ref HEAD); HASH=$(git log $BRANCH --merges --pretty=format:\"%h\" -n 1); git log $HASH^..$HASH --pretty=format:\"[%h] %an, %ar%n%B\""
	update = !git fetch && git pull
	history = log --format='%C(auto) %h %C(dim)(%an) %C(auto)%d %s %C(dim)[%ah]' --graph
	merge-into = !git-merge-into
	init-from = !git-clone-as-template 
	release-to = !git-release-to
[advice]
	ignoredHook = false
	addEmptyPathspec = false
[push]
	default = current
[color]
	ui = auto
[credential]
	helper = 
	helper = /usr/share/git-credential-manager-core/git-credential-manager
	credentialStore = gpg

[url "git@github.com:"]
	insteadOf = github:
	insteadOf = gh:
{{ if eq .target "work" }}
[url "git@gitlab.com:utas-digital-futures/"]
	insteadOf = utas:
[url "universitytasmania@vs-ssh.visualstudio.com:v3/universitytasmania/"]
	insteadOf = devops:
[credential "https://dev.azure.com"]
	useHttpPath = true
{{ end }}
{{ if eq .target "personal" }}{{ end }}
